/* CSS Reset */

/* Box sizing rules */
*, *::after, *::before { box-sizing: border-box }

/* Remove default padding */
ul, ol { padding: 0 }

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure,
figcaption, blockquote, dl, dd, pre { margin: 0 }

/* Make body (and app) like in html 4 */
body, html, #app { height: 100% }

/* Make images easier to work with */
img { max-width: 100%; display: block; }

/* Why does canvas even have focus?.. */
canvas:focus { outline: none }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select, .button {
  font: inherit;
  color: inherit;
  min-width: 0;
}

/* Lighten up the default tabindex outline */
*:focus { outline-color: rgba(0,0,0,0.2) }

.theme-romkib {
  --color-background: #ffffff;
  --color-text: #2f1f2f;
  --color-primary: #94aee3;
  --color-secondary: #B5C7EB;
  --color-iskra-yellow: #DCDCAA;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}


/* ========================== github and lightbox shit ========================== */

header {
  backdrop-filter: blur(12px);
  background: #ffffffda;
  border-bottom: 1px solid #ECECEC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header > div {
  min-height: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  color: #000c;
}

header a:active {
  color: #000a;
}




footer {
  backdrop-filter: blur(12px);
  background: #ffffffda;
  border-top: 1px solid #ECECEC;
}

footer > div {
  min-height: 3rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: #3f4653;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: #000c;
}

footer a:active {
  color: #000a;
}










main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 2rem 0;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section:last-child {
  margin-bottom: 10rem;
}

section > *:not(:last-child) {
  margin-bottom: 1rem;
}

.titlecard {
  display: flex;
  gap: 3rem;
}

.titlecard > div:first-child > * {
  margin: 1.5rem 0;
  flex: 1;
}

.titlecard > div:last-child > * {
  margin: 3rem auto;
}

h1 { font-size: 6rem; }
h2 { font-size: 5rem; }
h3 { font-size: 4rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.5rem; }

h1, h2, h3, h4, h5, h6 {
  background-clip: text;
  background-image: linear-gradient(to right, var(--color-text) 0%, #0008 100%);
  color: transparent;
}

ol, ul {
  padding-left: 1.5em;
}

.action-button {
  text-decoration: none;
  display: inline-block;
  border: none;
  background:rgb(0, 107, 230);
  border-radius: 2rem;
  padding:1rem;
  color:white;
  font-weight: bold;
  cursor: pointer;
}

.action-button:hover {
  background: rgb(0, 93, 199);
}

.action-button:active {
  background: rgb(0, 86, 184);
}

.cards figure {
  border: 1px solid #ECECEC;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
}

.cards > div {
  display: flex;
  gap: 1rem;
}

.cards > div > * {
  flex: 1;
}

.cards figure > * {
  margin-bottom: 0.5rem;
}

.cards figure p,
.cards figure ul,
.cards figure ol {
  color: #3f4653;
  font-size: 0.9rem;
  line-height: 1.5;
}

.cards figure img {
  max-width: 300px;
  position: relative;
  left: 3rem;
  top: 3rem;
  margin-top: -3rem;
  margin-left: auto;
}


@media (max-width: 800px) {
  .cards > div {
    flex-direction: column;
  }

  h1 { font-size: 3rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.3rem; }
  h6 { font-size: 1rem; }

}

.text-section {
  border: 1px solid #ECECEC;
  border-radius: 1.5rem;
  padding: 2rem;
  overflow: hidden;
  backdrop-filter: blur(3px);
}

.anchor {
  width: 0;
  height: 0;
  position: relative;
  bottom: 7rem;
  float: left;
}








#lightbox {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: table;
  background: rgba(0,0,0,0.9);
}
#lightbox > p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#lightbox > p > img {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.pdf-icon {
  height: 1em;
  display: inline-block;
}